<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "FinancialMana", suffix: " · Phoenix Framework" %>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/css/bootstrap.min.css")}/>
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link "Financial Mana", to: Routes.page_path(@conn, :index), class: "navbar-brand" %>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <%= link "Home", to: Routes.page_path(@conn, :index), class: "nav-link" %>
              </li>
              <%= render "_user_menu.html", assigns %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container center">
      <%= @inner_content %>
    </div>

    
    
    <script type="text/javascript" src={Routes.static_path(@conn, "/assets/js/bootstrap.min.js")}></script>

  </body>
</html>
