<h6 class = "display-6">Show Receita</h6>

<ul>

  <li>
    <strong class= "lead">Name:</strong>
    <%= @receita.name %>
  </li>

  <li>
    <strong class= "lead">Value:</strong>
    <%= @receita.value %>
  </li>
</ul>

<%= link "Edit", to: Routes.receita_path(@conn, :edit, @receita), class: "btn btn-success my-2" %> |
<%= link "Back", to: Routes.receita_path(@conn, :index), class: "btn btn-secondary my-2" %>
