<h6 class = "display-6">Show Despesa</h6>

<ul>

  <li>
    <strong class= "lead">Name:</strong>
    <%= @despesa.name%>
    
  </li>

  <li>
    <strong class= "lead">Value:</strong>
    <%= @despesa.value %>
    
  </li>

</ul>

<%= link "Edit", to: Routes.despesa_path(@conn, :edit, @despesa), class: "btn btn-success my-2" %> |
<%= link "Back", to: Routes.despesa_path(@conn, :index), class: "btn btn-secondary my-2" %>
